.slideArea {
    background-color: var(--primaryBgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 88.2vh;
    padding: 1vh 0 1vh 0;
    color: var(--textColor);
}

.card {
    background-color: var(--secondaryBgColor);
    width: 50rem;
    height: 25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.text-center {
    text-align: center;
}

.small {
    border-radius: 8px;
    padding: 8px;
    margin-right: 1rem;
    background-color: var(--secondaryBgColor);
    color: var(--textColor);
    border: none;
    width: 8rem;
}

.small:hover {
    background-color: var(--textColor);
    color: var(--primaryBgColor);
}

.small:disabled {
    background-color: grey;
    color: beige;
}
.outlined {
    border: 2px solid var(--textColor);
}